docker/pgadmin4/pgadmin4.db
docker/pgadmin4/sessions
.env.backup
.nuxt
public/dist

### https://raw.github.com/github/gitignore/379476851036fbc638d258f0547d91c2a3765a33/Laravel.gitignore

/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

#IDE
.idea
